{% extends "base.html" %}

{% block content %}
    <section class="signup container px-5 d-flex mx-auto justify-content-center"><div class="container d-flex my-5 justify-content-center align-items-center ">
  <form method="post" class="w-50 rounded-3 bg-dark p-5">
    {% csrf_token %}
    <h2 class="text-center text-light mb-5">SignUp Now</h2>
            {% for fm in form %}
                <div class="mt-3">
                    {{fm}}   
                    <small class="text-danger">{{ fm.error | striptags }}</small>     
                </div>
            {% endfor %}
            <button type="submit" class="btn-danger btn mt-4 px-4">Sign Up Now</button> 
            <small class="text-light">Already have an account? <a href="{% url "signin" %}">Login Now</a></small>
        </form>
    </div>
    </section>
{% endblock content %}
